<%= content_for :title, t(:new_offers)%>
<%= content_for :sites, will_paginate(@joboffers) %>

<br />
<ul>
  <% @joboffers.each do |joboffer| %>
    <li>
      <div class="offer"><%= link_to joboffer.title, "http://www.praca.pl" + joboffer.link %><br >
        <p>tworzenie identyfikacji wizualnych produktów i marek, opracowania projektów graficznych serwisów www, przygotowania do druku</p>
        <p class="offer_source">źródło: praca.pl</p>

      </div>
    </li>
    <!-- To bedzie pozniej zroboone
    <%= link_to 'Show', joboffer %>
    <%= link_to 'Edit', edit_joboffer_path(joboffer) %>
    <%= link_to 'Destroy', joboffer, confirm: 'Are you sure?', method: :delete %> -->
  <% end %>
</ul>
