<h1><%= t(:new_offers)%></h1>

<div class="pagination"><%= will_paginate @joboffers %></div>
<br />
<% @joboffers.each do |joboffer| %>
  <div id=<% if (joboffer.id%2 == 0) %>oferta1<% else %>oferta2<% end %>>
  	<%= joboffer.id %>. <%= link_to joboffer.title, "http://www.praca.pl" + joboffer.link %>
  </div>
    <!-- To bedzie pozniej zroboone
    <%= link_to 'Show', joboffer %>
    <%= link_to 'Edit', edit_joboffer_path(joboffer) %>
    <%= link_to 'Destroy', joboffer, confirm: 'Are you sure?', method: :delete %> -->
<% end %>
<div class="pagination"><%= will_paginate @joboffers %></div>