<nav>
	<div class="menudiv"><%= link_to t(:new_offer), new_joboffer_path %></div>
	<div class="menudiv"><%= link_to t(:link2), "#" %></div>
	<div class="menudiv"><%= link_to t(:link3), "#" %></div>
	<div class="menudiv"><%= link_to t(:link4), "#" %></div>
	<div class="menudiv"><%= link_to t(:link5), "#" %></div>
	<div class="logindiv"><%= link_to t(:login), "#" %></div>
	<div class="logindiv"><%= link_to t(:register), "#" %></div>
</nav>
